<% @product.reviews.reverse_each do |review| %>
  <dt>Review</dt>
   <dd><%= review.description %></dd>
   <dt>Rating</dt>
   <dd><%= review.rating %></dd>
   <% if review.user_id.to_i == current_user.id%>
     <td>
       <%= link_to fa_icon('trash'), [@product, Review.find(review.id)], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
     </td>
   <% end %>
   <br>
 <% end %>